@model StudentRegistration.Models.tblCollection

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

 <div class="col-lg-9">
    <div class="section-title position-relative mb-4">
        <h4><i class="bi bi-pencil-fill"></i> @ViewBag.BT an Registration</h4>
        <hr style="color:green;" />
    </div>
    <div class="contact-form">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            @Html.HiddenFor(x=>x.Id)
            <div class="row">
                <div class="col-6 form-group">
                    <input asp-for="Name" class="form-control border-top-0 border-right-0 border-left-0 p-0" placeholder="Your Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                    @*<input type="text" class="form-control border-top-0 border-right-0 border-left-0 p-0" placeholder="Your Name" required="required">*@
                </div>
                <div class="col-6 form-group">
                    <input asp-for="fName" class="form-control border-top-0 border-right-0 border-left-0 p-0" placeholder="Father Name" />
                    <span asp-validation-for="fName" class="text-danger"></span>
                 </div>
             </div>
             <div class="row">
                <div class="col-6 form-group">
                    <input asp-for="Category" class="form-control border-top-0 border-right-0 border-left-0 p-0" placeholder="Category" />
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
                <div class="col-6 form-group">
                    <input asp-for="regno" class="form-control border-top-0 border-right-0 border-left-0 p-0" placeholder="Registration" />
                    <span asp-validation-for="regno" class="text-danger"></span>
                </div>
             </div>
             <div class="row">
                <div class="col-6 form-group">
                    <input asp-for="Age" class="form-control border-top-0 border-right-0 border-left-0 p-0" placeholder="Age" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
                <div class="col-6 form-group">
                    <select asp-for="Gender" asp-items="@(new SelectList(ViewBag.gender,"gid","gname"))" class="form-control border-top-0 border-right-0 border-left-0 p-0" >
                    <option value="0">--Gender--</option>
                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
             </div>
             <div class="row">
                <div class="col-6 form-group">
                <select asp-for="State" class="form-control border-top-0 border-right-0 border-left-0 p-0" asp-items="@(new SelectList(ViewBag.stt,"sid","sname"))" onchange="BindCity()">
                <option value="0">--Select state--</option>
                </select>
                <span asp-validation-for="State" class="text-danger"></span>
                </div>
                <div class="col-6 form-group">
                    <select asp-for="City" class="form-control border-top-0 border-right-0 border-left-0 p-0" asp-items="@(new SelectList(ViewBag.citi,"cid","cname"))">
                    <option value="0">--Select city--</option>
                    </select>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
             </div>
             <div class="row">
                <div class="col-6 form-group">
                    <input asp-for="Email" class="form-control border-top-0 border-right-0 border-left-0 p-0" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-6 form-group">
                    <input type="file" id="FileImage" name="file" class="form-control" />
                 @{
                    if(Model.Id > 0)
                    {
                                <img src="~/Images/@Model.ProfileImage" width="80px" height="80px" />
                     }
                }
                    <span asp-validation-for="ProfileImage" class="text-danger"></span>
                    </div>
                </div>
             <div>
             <button onclick="return confirm('Are you sure you want to Saved this?')" class="btn btn-primary py-2 px-3" type="submit">@ViewBag.BT</button>
                <a href="/UserLogin/Reset" class="btn btn-danger py-2 px-3">Reset</a>
            <p class="text-muted mt-3 mb-0"><a asp-action="Index" class="fw-bold text-body">Back to List</a></p>
            </div>
        </form>
    </div>
 </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}

<script src="~/lib/jquery/dist/jquery.js"></script>  
<script type="text/javascript">
function BindCity() {
    if($("#User_Id").val()>0)
    {
        $.ajax({
        url: '../GetCity',
        type: 'post',
        data: { A:$("#State").val() },
        success: function (data) {
            $("#City").empty();
            $("#City").append($('<option></option>').html("--select--").val(0));

            for (var i = 0; i < data.length; i++) {
                $("#City").append($('<option></option>').html(data[i].cname).val(data[i].cid));
            }
        },
        error: function() {
            alert('City not Bind!!');
        }
    });
    }
    else
    {
        $.ajax({
        url: '../Admin/GetCity',
        type: 'post',
        data: { A:$("#State").val() },
        success: function (data) {
            $("#City").empty();
            $("#City").append($('<option></option>').html("--select--").val(0));

            for (var i = 0; i < data.length; i++) {
                $("#City").append($('<option></option>').html(data[i].cname).val(data[i].cid));
            }
        },
        error: function() {
            alert('City not Bind!!');
        }
    });
    }
    }
    

</script>

